body {
	background-color: #001f3f;
	font-weight: 300;
	color: white;
}

input {
	color: black;
}

#MainTitle {
	text-align: center;
	background-color: #0074D9;

}

#InputNumBox {
	padding: 30px;
	margin-top: 25px;
}

.centered-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 10em;
	padding: 20px;
}

figcaption {
	color: white;
}

figure {
	cursor:pointer;
	cursor:hand;

}

button {
	margin:10px;
	color: black;
}